- choices = field.choices.map {|o| o[:src] = push_type_admin.edit_node_path(o[:value]); o}
= f.select field.name, [], field.field_options, field.html_options.merge(data: { options: choices.to_json, items: field.json_value }, :'v-selectize' => true, :'selectize-kind' => field.kind)
